= semantic_form_for :images, builder: ActiveAdmin::FormBuilder, url: { action: :add } do |f|
  = f.inputs "Upload images" do
    = f.input :category_id, :as => :select, :collection => Category.all.collect {|c| [ c.title, c.id ] }
    = f.action :submit, label: 'Add Image'