// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "static_pages";
@import "images";
@import "categories";
@import "likes";

@import 'font_awesome5_webfont';

.bg-light{
  background-color: #fff !important;
}
.carousel .col-12{
  padding-left: 0 !important;
}
.carousel .col-lg-4{
  padding-right: 0 !important;
}
.navbar-brand{
  color: #000;
}
.navbar-brand:hover .logo{
  color: #000;
  -moz-transform: scale(1.2); /* Для Firefox */
  -ms-transform: scale(1.2); /* Для IE */
  -webkit-transform: scale(1.2); /* Для Safari, Chrome, iOS */
  -o-transform: scale(1.2); /* Для Opera */
  transform: scale(1.2);
}
h1{
  margin: 24px;
}
.alert{
  margin-bottom: 0;
}
.pagination > li > a
{
  background-color: white;
  color: #343a40;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
  box-shadow: none;
}

.pagination > .active > a
{
  color: white;
  background-color: #343a40 !important;
  border: solid 1px #343a40 !important;
}

.pagination > .active > a:hover
{
  background-color: #343a40;
  border: solid 1px #343a40;
}

.pagination > .active > a:active
{
  border: solid 1px #343a40;
}

.hidden {
  display: none !important;
}

.form-control:focus {
  border-color: #343a40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}
a, a:hover{
  color: #343a40;
}
.form-actions{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.category img{
  height: 30vh;
  width: 100%;
  object-fit: cover;
}