// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "static_pages";
@import "images";
@import "categories";
@import "likes";

@import 'font_awesome5_webfont';

.bg-light{
  background-color: #fff !important;
}
.carousel .col-12{
  padding-left: 0 !important;
}
.carousel .col-lg-4{
  padding-right: 0 !important;
}
.navbar-brand{
  color: #000;
  transition: all 2s;
}
.navbar-brand:hover .logo{
  color: #000;
  text-shadow: 2px 1px 1px #ccc;
}

.menu .nav-item{
  position: relative !important;
}
//.menu .active .nav-link:after{
//  content:'';
//  display: none;
//  height: 1px;
//  width: 80%;
//  margin: 0 auto;
//  position: absolute;
//  bottom: 7px;
//  left: 10%;
//  background: #f23534;
//  transition: all 1s;
//}
.menu>.collapse>ul>li>.nav-link:before{
  content:'';
  display: block;
  height: 1px;
  width: 0;
  margin: 0 auto;
  position: absolute;
  bottom: 7px;
  left: 50%;
  background: #343a40;
  transition: all 1s;
}

.menu>.collapse>ul>li:hover>.nav-link:before, .menu>.collapse>ul>.active>.nav-link:before{
  display: block;
  width: 80%;
  left: 10%;
}
.menu>.collapse>ul>li>.dropdown-menu>.dropdown-item:hover{
  padding-left: 2rem;
}
.dropdown-item{
  padding-left: 1.5rem;
  transition: all 1s;
}
h1{
  margin: 24px;
}
.alert{
  margin-bottom: 0;
}
.pagination > li > a
{
  background-color: white;
  color: #343a40;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
  box-shadow: none;
}

.pagination > .active > a
{
  color: white;
  background-color: #343a40 !important;
  border: solid 1px #343a40 !important;
}

.pagination > .active > a:hover
{
  background-color: #343a40;
  border: solid 1px #343a40;
}

.pagination > .active > a:active
{
  border: solid 1px #343a40;
}

.hidden {
  display: none !important;
}

.form-control:focus {
  border-color: #343a40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}
a, a:hover{
  color: #343a40;
}
.form-actions{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.category img{
  height: 30vh;
  width: 100%;
  object-fit: cover;
}

footer a{
  color: #343a40;
  background: #fff;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition: all 1s;
}

.icons a:hover{
  background: #343a40;
  color: #fff;
}