// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  position: absolute;
  background: rgba(0,0,0,0.6);
  width: 100%;
  bottom: 0;
  padding: 30px;
  color: #fff;
  font-size: 32px;
  text-align: center;
  z-index: 100;
}

