// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  position: absolute;
  background: rgba(0,0,0,0.6);
  width: 100%;
  bottom: 0;
  padding: 30px;
  color: #fff;
  font-size: 32px;
  text-align: center;
  z-index: 100;
}
.overlay{
  position: absolute;
  background: #000; /* Для старых браузров */
  background: linear-gradient(to top, #000, #ddd);
  background: rgba(0,0,0,0);
  width: 100%;
  bottom: 0;
  padding: 10px;
  color: #fff;
  text-align: center;
  height: 2vh;
  transition: .5s;
}
.overlay i, .overlay span{
  display: none;
}
.position-relative:hover .overlay{
  display: block;
  height: 6vh;
  background: #000; /* Для старых браузров */
  background: linear-gradient(to top, #000, #5E5E5E);
  opacity: 0.6;
  transition: .5s;
}
.position-relative:hover .overlay i, .position-relative:hover .overlay span{
  display: block;
}

