// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  position: relative;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 767.98px){
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
.overlay-likes{
  position: absolute;
  background: rgba(0,0,0,1);
  width: 100%;
  bottom: 0;
  padding: 10px;
  color: #fff;
  text-align: center;
}
.images {
  cursor: pointer;
  transition: 0.3s;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1900;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}
/* Modal Content (Image) */
.modal-content{
  margin: auto;
  display: block;
  width: 80%;
  max-width: 500px;
}
@keyframes zoom{
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}
.modal-content{
  animation-name: zoom;
  animation-duration: .5s;
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .modal-content{
    max-width: 700px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-content{
    max-width: 1000px;
  }
}





