// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
  position: relative;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: 767.98px){
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.overlay{
  position: absolute;
  background: rgba(0,0,0,0.6);
  width: 100%;
  bottom: 0;
  padding: 10px;
  color: #fff;
  text-align: center;
}




