// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: rgba(0,0,0,0.4);
  max-width: 100%;
  top: 0;
  height: 50vh;
  color: #fff;
  font-size: 36px;
  text-align: center;
  padding: 5px;
}
