// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back{
  position: absolute;
  background: rgba(0,0,0,0.6);
  width: 100%;
  top: 20%;
  padding: 100px;
  color: #fff;
  font-size: 36px;
  text-align: center;
}
