// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background: rgba(0,0,0,0.4);
  max-width: 100%;
  top: 0;
  height: 50vh;
  color: #fff;
  font-size: 36px;
  text-align: center;
  padding: 5px;
}
.carousel p {
  transition: all 2s;
}
.carousel:hover p{
  text-shadow: 3px 2px 2px #000;
}
.position{
	position: relative;
	border: 1px solid #d5d5d5;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.1);
}
.block-1{
	background: url(https://gallery1st.s3.amazonaws.com/static/block-1.jpg) 100%;
	background-size: contain;
	height: 300px;
}
.block-2{
  background: url(https://gallery1st.s3.amazonaws.com/static/block-2.jpg) 100%;
  background-size: contain;
  height: 300px;
}
.position .description{
  position: absolute;
  top: 30%;
  left: 10%;
  width: 50%;
}
.position .link-action{
  transition: all .5s;
}
a:hover{
  text-decoration: none;

}
.position:hover .link-action{
  transform: scale(1.1);
}
.position:hover{
  box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
}
.clip-path{
  clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
}
