%h4.text-center.mt-2= t('images.form.title')
= form_with(model: [@category, @category.images.build ], local: true, class: "d-flex justify-content-between align-items-center btn btn-light rounded-0 m-0") do |f|
  = f.file_field :src, :class => "form-control-file"
  = f.submit t('links.save'), :class => "btn btn-dark"

