%h4 Add an image:
= form_with(model: [@category, @category.images.build ], local: true, class: "d-flex justify-content-between align-items-center btn btn-dark") do |f|
  = f.file_field :src, :class => "form-control-file"
  = f.submit 'Save'

