%h1 New image

%h2 Add an image:
= simple_form_for [ @category, @category.images.build ] do |f|
  .form-group
    = f.error_notification
    = f.file_field :src
    = f.submit 'Save'
-#= link_to "Back", categories_path
